<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>A Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-label>
    <h1>Quarto</h1>
  </ion-label>
  <br>

  <ion-item>
    <!-- <ion-icon name="star" slot="start"></ion-icon> -->
    <ion-label>
      <h2>Armário</h2>
      <p>Descrição</p>
    </ion-label>
    <ion-button fill="outline" slot="end">+</ion-button>
    <h3>5</h3>
    <ion-button fill="outline" slot="end">-</ion-button>
  </ion-item>

  <ion-item>
    <!-- <ion-icon name="star" slot="start"></ion-icon> -->
    <ion-label>
      <h2>Berço</h2>
      <p>Descrição</p>
    </ion-label>
    <ion-button fill="outline" slot="end">+</ion-button>
    <h3>1</h3>
    <ion-button fill="outline" slot="end">-</ion-button>
  </ion-item>

  <ion-item>
    <!-- <ion-icon name="star" slot="start"></ion-icon> -->
    <ion-label>
      <h2>Guarda-roupa</h2>
      <p>Descrição</p>
    </ion-label>
    <ion-button fill="outline" slot="end">+</ion-button>
    <h3>1</h3>
    <ion-button fill="outline" slot="end">-</ion-button>
  </ion-item>

  <ion-item>
    <!-- <ion-icon name="star" slot="start"></ion-icon> -->
    <ion-label>
      <h2>Lençol</h2>
      <p>Descrição</p>
    </ion-label>
    <ion-button fill="outline" slot="end">+</ion-button>
    <h3>2</h3>
    <ion-button fill="outline" slot="end">-</ion-button>
  </ion-item>

  <br>
  <br>
  <br>

  <ion-label>
    <h1>Roupas</h1>
  </ion-label>
  <br>

  <ion-item>
    <!-- <ion-icon name="star" slot="start"></ion-icon> -->
    <ion-label>
      <h2>Travesseiro</h2>
      <p>Descrição</p>
    </ion-label>
    <h3>2</h3>
    <ion-button fill="outline" slot="end">-</ion-button>
  </ion-item>

  <ion-item>
    <!-- <ion-icon name="star" slot="start"></ion-icon> -->
    <ion-label>
      <h2>Cama</h2>
      <p>Descrição</p>
    </ion-label>
    <h3>1</h3>
    <ion-button fill="outline" slot="end">-</ion-button>
  </ion-item>

  <ion-item>
    <!-- <ion-icon name="star" slot="start"></ion-icon> -->
    <ion-label>
      <h2>Cortina</h2>
      <p>Descrição</p>
    </ion-label>
    <h3>2</h3>
    <ion-button fill="outline" slot="end">-</ion-button>
  </ion-item>



</ion-content>
